<!DOCTYPE html>
<html>
  <head>
    <title>SpySearchApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'search', "data-turbo-track": "reload" %>
    </head>

  <body>
    <navbar class="topbottom-bar">
    <p id="logo">❂</p>
      <div id="menu-section">
        <%= link_to '⌂', root_path, class: 'nav-links home-link' %>
        <%= link_to 'Analytics', analytics_path, class: 'nav-links analytics-link' %>
      </div>
    </navbar>

    <%= yield %>

    <footer class="topbottom-bar">
      <p>Made with ❤️ from Spy Search</p>
    </footer>
  </body>
</html>
